#customersCats{
    margin-top:1.2rem;
    height: 80px;
 }
 
 .nav-link.active, .nav-link:focus,  .nav-link:hover {
     background-color: transparent;
     border-color: transparent;
     border-bottom: 3px solid #1aafff;
 }
 a.nav-link{
   color:#333;
 }
 .wrapper {
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 5em;
}
