<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Farmer2Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">
          <i class="fa fa-home"></i>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/notification">
          <i class="fa fa-envelope-o">
            <span class="badge badge-danger">{{notificationCount}}</span>
          </i>
          Notifications
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a class="nav-link" routerLink="/login">
          <i class="fa fa-lock">
          </i>
          Login or Signup
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedInAsCustomer()">
        <a class="nav-link" routerLink="/feedback">
          <i class="fa fa-rss">
          </i>
          Feedback
        </a>
      </li>

      <li class="nav-item" *ngIf="isLoggedInAsFarmer()">
        <a class="nav-link" routerLink="/farmer">
          <i class="fa fa-address-card">
          </i>
          Farmer
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn()">
        <a class="nav-link" routerLink="/profile">
          <i class="fa fa-address-card">
          </i>
          Profile
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedInAsCustomer()">
          <a class="nav-link" routerLink="/cart">
            <i class="fa fa-cart-arrow-down">
              <span class="badge badge-danger">{{cartCount}}</span>
            </i>
            Cart
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
            <a class="nav-link" routerLink="" (click)="logout()">
              <i class="fa fa-sign-out">
              </i>
              Logout
            </a>
          </li>
    </ul>
    <div style="color:aquamarine" *ngIf="isLoggedIn()">Hello {{user.name}}</div>
   
  </div>
</nav>
<input type="text" id="myInput" [(ngModel)]="term" placeholder="Search for Products names.." >

<ul id="myUL"  *ngFor="let x of productList | filter:term ">
  <li *ngIf="term" ><a routerLink='/productDetail/{{x?.id}}'>{{ x?.name }}</a></li>
</ul>